{% load static %}

<html lang="en">
<head>
  <title>name2.email | Find and Verify Email Addresses for FREE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'mdkdesign/fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'mdkdesign/css/css' %}">

  <link rel="stylesheet" href="{% static 'mdkdesign/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'mdkdesign/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'mdkdesign/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'mdkdesign/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'mdkdesign/css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'mdkdesign/css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'mdkdesign/fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'mdkdesign/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'mdkdesign/css/rangeslider.css' %}">

  <link rel="stylesheet" href="{% static 'mdkdesign/css/style(1).css' %}">

</head>
<body>

<div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar py-2 bg-black" role="banner" id="header-template"><div class="container" bis_skin_checked="1">
      <div class="row align-items-center" bis_skin_checked="1">

          <div class="col-11 col-xl-2" bis_skin_checked="1">
              <h1 class="mb-0 site-logo"><a href="index.html" class="text-white h2 mb-0">Mdkdesign</a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block" bis_skin_checked="1">
              <nav class="site-navigation position-relative text-right" role="navigation">

                  <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                      <li class="active"><a href="index.html"><span>Home</span></a></li>
                      <li class="has-children">
                          <a href="#"><span>Services</span></a>
                          <ul class="dropdown">
                              <li><a href="verifier.html">Web design</a></li>
                              <li><a href="finder.html">Mobile apps</a></li>
                              <li><a href="chrome-extension.html">Graphic design </a></li>
                          </ul>
                      </li>
                      <li><a href="contact.html"><span>Contact</span></a></li>
                      <li><span class="hello-text">Hello, Mark</span></li>
                  </ul>
              </nav>
          </div>

          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;" bis_skin_checked="1">
              <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
          </div>

      </div>
  </div></header>
  <span id="login-template"></span>
  <span id="signup-template"></span>

  <div class="site-blocks-cover overlay" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">

        <div class="col-xl-8">


          <div class="row justify-content-center mb-4">
            <div class="col-md-12 text-center">
              <h1 data-aos="fade-up"><span class="typed-words"></span></h1>
            <p data-aos="fade-up" data-aos-delay="100">    We are an award-winning IT services agency with offices in Canada (Toronto) and USA (Texas). We are dedicated to developing and implementing an extensive online applications.We service clients across a multitude of verticals with the goal of delivering best service and helping the digital transformation in the business.Our services are affordable for small and medium size companies across North America . </p>
            </div>
          </div>

          <div class="form-search-wrap p-2" data-aos="fade-up" data-aos-delay="200">
            <div class="row align-items-center">
              <div class="col-lg-12 col-xl-6 no-sm-border border-right">
                <input type="text" class="form-control" placeholder="Put your email here we will reach you out !!">
              </div>
              <div class="col-lg-12 col-xl-6 no-sm-border">
                <input type="text" class="form-control" placeholder="Type of service">
              </div>
            </div>
          </div>

          <div class="row justify-content-center p-3" data-aos="fade-up" data-aos-delay="300">
            <div class="text-center">
              <input type="submit" class="btn btn-outline-dark btn-rounded" value="Submit">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <div class="site-section" data-aos="fade">
    <div class="container">
      <!--<div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light text-primary">Our Services</h2>
        </div>
      </div>-->

      <div class="row">
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">

          <div class="listing-item" style="background-color: #8bc34a;">
            <div class="listing-image">
              <img src="images/img_1.png" alt="Image" class="img-fluid">
            </div>
            <div class="listing-item-content">
              <!--<a class="px-3 mb-3 category" href="#">Find</a>-->
              <h2 class="mb-1"><a href="#">Email Finder</a></h2>
              <span class="address">Just enter the name of the person and company domain you’re looking for to launch a global scan of up-to-date email addresses. Finding an email address has never been easier.</span>
            </div>
          </div>

        </div>
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">

          <div class="listing-item" style="background-color: #20c997;">
            <div class="listing-image">
              <img src="images/img_2.png" alt="Image" class="img-fluid">
            </div>
            <div class="listing-item-content">
              <!--<a class="px-3 mb-3 category" href="#">Verify</a>-->
              <h2 class="mb-1"><a href="#">Email Verifier</a></h2>
              <span class="address">Don’t get left in the dark reaching out to expired and invalid email addresses. Our email address verifier is spot-on and offers the real-time email validation you depend on.</span>
            </div>
          </div>

        </div>
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">

          <div class="listing-item" style="background-color: #f89d13;">
            <div class="listing-image">
              <img src="images/img_3.png" alt="Image" class="img-fluid">
            </div>
            <div class="listing-item-content">
              <!--<a class="px-3 mb-3 category" href="#">Both</a>-->
              <h2 class="mb-1"><a href="#">Chrome Extension</a></h2>
              <span class="address">Our on-the-go email finder chrome extension allows you to find and verify emails while browsing social networks such as facebook, linkedin, and more.</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row align-items-stretch justify-content-center">
        <div class="w-50 vertical-line">
          <h2 class="text-primary mb-3">Why us</h2>
          <div class="row">
            <div class="col-3 col-md-2"><span class="icon-high_quality" style="font-size:50px;"></span></div>
            <div class="col-12 col-md-10">
              <div class="badge badge-secondary">High-quality Results</div>
              <p>
                We provide qualitative success rates based on high-accuracy and the exclusion of false results. We’re not in a hurry, we’re just fast.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-3 col-md-2"><span class="icon-money_off" style="font-size:50px;"></span></div>
            <div class="col-12 col-md-10">
              <div class="badge badge-secondary">Free-of-charge</div>
              <p>
                We provide a free service that matches any top-tier competition and gives you access to a global database of real-time email addresses on-the-fly.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-3 col-md-2"><span class="icon-hand-peace-o" style="font-size:50px;"></span></div>
            <div class="col-12 col-md-10">
              <div class="badge badge-secondary">Easy-to-use</div>
              <p>
                Simple-to-use and easy to install, name2.email is about as lightweight as it gets.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-3 col-md-2"><span class="icon-fingerprint" style="font-size:50px;"></span></div>
            <div class="col-12 col-md-10">
              <div class="badge badge-secondary">User Privacy</div>
              <p>
                We uphold user privacy and avoid interfering with your professional contacts while searching for their email address. In short, we keep everyone happy!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row align-items-stretch justify-content-center">
    <div class="col-sm-6 col-md-4 mb-4 mb-lg-5 col-lg-3">
      <a href="#" class="popular-category h-100">
        <span class="icon"><span class="icon-high_quality"></span></span>
        <span class="caption mb-2 d-block">High-quality Results</span>
        <span class="mb-2 d-block">We provide qualitative success rates based on high-accuracy and the exclusion of false results. We’re not in a hurry, we’re just fast.</span>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 mb-4 mb-lg-5 col-lg-3">
      <a href="#" class="popular-category h-100">
        <span class="icon"><span class="icon-money_off"></span></span>
        <span class="caption mb-2 d-block">Free-of-charge</span>
        <span class="mb-2 d-block">We provide a free service that matches any top-tier competition and gives you access to a global database of real-time email addresses on-the-fly.</span>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 mb-4 mb-lg-5 col-lg-3">
      <a href="#" class="popular-category h-100">
        <span class="icon"><span class="icon-hand-peace-o"></span></span>
        <span class="caption mb-2 d-block">Easy-to-use</span>
        <span class="mb-2 d-block">Simple-to-use and easy to install, name2.email is about as lightweight as it gets.</span>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 mb-4 mb-lg-5 col-lg-3">
      <a href="#" class="popular-category h-100">
        <span class="icon"><span class="icon-fingerprint"></span></span>
        <span class="caption mb-2 d-block">User Privacy</span>
        <span class="mb-2 d-block">We uphold user privacy and avoid interfering with your professional contacts while searching for their email address. In short, we keep everyone happy!</span>
      </a>
    </div>
  </div>-->
</div>
</div>

<!--<div class="site-section bg-light">
  <div class="container">

    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary">Testimonials</h2>
      </div>
    </div>

    <div class="slide-one-item home-slider owl-carousel">
      <div>
        <div class="testimonial">
          <figure class="mb-4">
            <img src="images/person_3.jpg" alt="Image" class="img-fluid mb-3">
            <p>John Smith</p>
          </figure>
          <blockquote>
            <p>&ldquo;I use name2.email in my professional sphere to save time on looking up email addresses manually. It works very fast and all of the results have proved accurate thus far. Great free service.&rdquo;</p>
          </blockquote>
        </div>
      </div>
      <div>
        <div class="testimonial">
          <figure class="mb-4">
            <img src="images/person_2.jpg" alt="Image" class="img-fluid mb-3">
            <p>Christine Aguilar</p>
          </figure>
          <blockquote>
            <p>&ldquo;I love how the same service I found on this website can be installed as a chrome extension on my browser. It works especially well when browsing social media in case you need the email address of a contact.&rdquo;</p>
          </blockquote>
        </div>
      </div>

      <div>
        <div class="testimonial">
          <figure class="mb-4">
            <img src="images/person_4.jpg" alt="Image" class="img-fluid mb-3">
            <p>Robert Spears</p>
          </figure>
          <blockquote>
            <p>&ldquo;Behind the scenes, this software is actually pretty impressive. It works as intended and I'm glad to know it doesn't interfere with potential contacts when I look up their email. That says a lot about how their software interacts with online data.&rdquo;</p>
          </blockquote>
        </div>
      </div>

    </div>
  </div>
</div>-->

<div class="site-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary">Frequently Ask Question</h2>
        <p class="color-black-opacity-5">Don't find your question? Contact us!</p>
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-8">

        <div class="border p-3 rounded mb-2">
          <a data-toggle="collapse" href="#collapse-4" role="button" aria-expanded="false" aria-controls="collapse-4" class="accordion-item h5 d-block mb-0">Is name2.email really free?</a>

          <div class="collapse" id="collapse-4">
            <div class="pt-2">
              <p class="mb-0">Yes, and we are proud to offer our free email finder and email verifier service to users around the world. We know how important finding a professional contact address is to you, and have designed this software so you can network faster, more efficiently and free-of-charge.</p>
            </div>
          </div>
        </div>

        <div class="border p-3 rounded mb-2">
          <a data-toggle="collapse" href="#collapse-1" role="button" aria-expanded="false" aria-controls="collapse-1" class="accordion-item h5 d-block mb-0">What is the difference between verifying and finding email addresses?</a>

          <div class="collapse" id="collapse-1">
            <div class="pt-2">
              <p class="mb-0">Our email verification method uses non-invasive software to determine the validity of an email address and if the email address exists and works in real-time. If you would like to find an email address, simply enter the full name and company’s domain to find any available email addresses based on your search criteria.</p>
            </div>
          </div>
        </div>

        <div class="border p-3 rounded mb-2">
          <a data-toggle="collapse" href="#collapse-2" role="button" aria-expanded="false" aria-controls="collapse-2" class="accordion-item h5 d-block mb-0">How do you find and verify email addresses?</a>

          <div class="collapse" id="collapse-2">
            <div class="pt-2">
              <p class="mb-0">With name2.email, you’ll never have to worry about bombarding your target email address with spam to validate it. That’s because we use intelligent software and AI to communicate with mail servers and a global search index to find and verify email addresses without the use of invasive or unsolicited tactics. The result is a user-friendly and efficient email search program that you can use anytime, anywhere.</p>
            </div>
          </div>
        </div>

        <div class="border p-3 rounded mb-2">
          <a data-toggle="collapse" href="#collapse-3" role="button" aria-expanded="false" aria-controls="collapse-3" class="accordion-item h5 d-block mb-0">How do you avoid false results and bounced emails?</a>

          <div class="collapse" id="collapse-3">
            <div class="pt-2">
              <p class="mb-0">We use proprietary software with a built-in algorithm to calculate the validity of emails based on confidence scores which eliminate results with minimal rankings. This ensures that any generated email addresses have maximum success rates and confidence scores and are validated through our system.</p>
            </div>
          </div>
        </div>

        <div class="border p-3 rounded mb-2">
          <a data-toggle="collapse" href="#collapse-5" role="button" aria-expanded="false" aria-controls="collapse-5" class="accordion-item h5 d-block mb-0">Does name2.email work on all email address providers, such as gmail and yahoo?</a>

          <div class="collapse" id="collapse-5">
            <div class="pt-2">
              <p class="mb-0">Absolutely. Our proprietary software and AI algorithms are specially-designed to access accurate and real-time data across the full-range of email address providers currently online. If it exists, we’ll find it!</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="py-5 bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="mb-2 text-white">Your Access to Professional Email Addresses around the World is Absolutely Free!</h2>
        <p class="mb-4 lead text-white-opacity-05">It’s not a gimmick. Name2.email is completely free and provides the email finding and verification service you rely on to achieve successful networking, marketing and business operations anywhere in the world. We’re proud of our fundamental role in your day-to-day communications and look forward to delivering on our promise of providing a free, premier email finding service the moment you need it.</p>
        <p class="mb-0"><a href="booking.html" class="btn btn-outline-white text-white btn-md font-weight-bold">Let's get started</a></p>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">API</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Services</h2>
            <ul class="list-unstyled">
              <li><a href="#">Email Verifier</a></li>
              <li><a href="#">Email Finder</a></li>
              <li><a href="#">Chrome Extension</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
        <form action="#" method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>
</div>


<script src="{% static 'mdkdesign/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'mdkdesign/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'mdkdesign/js/jquery-ui.js' %}"></script>
<script src="{% static 'mdkdesign/js/popper.min.js' %}"></script>
<script src="{% static 'mdkdesign/js/bootstrap.min.js' %}"></script>
<script src="{% static 'mdkdesign/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'mdkdesign/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'mdkdesign/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'mdkdesign/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'mdkdesign/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'mdkdesign/js/aos.js' %}"></script>
<script src="{% static 'mdkdesign/js/rangeslider.min.js' %}"></script>


<script src="{% static 'mdkdesign/js/typed.js' %}"></script>
<script>
            var typed = new Typed('.typed-words', {
            strings: ["Web Developing"," Graphic Design"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
            });
            </script>

<script src="{% static 'mdkdesign/js/main.js' %}"></script>

</body>
</html>
